::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* background-image: url(background.jpg); */
    background-color: #101720;
}

#main-content {
    background: #171717;
}

#banner {
    height: 250px;
}

#banner-background {
    filter: blur(5px);
}

#bg-border-1 {
    border-radius: 0% 100% 100% 0% / 100% 100% 0% 0% ;
    width: 250px;
    height: 250px;
    background: yellowgreen;
}

#bg-border-2 {
    border-radius: 0% 100% 0% 100% / 0% 0% 100% 100%  ;
    width: 150px;
    height: 150px;
    background: purple;
}
