::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* background-image: url(background.jpg); */
    background-color: #101720;
}

#main-content {
    background: #171717;
}

#banner-background {
    filter: blur(5px);
}

#info-kami {
    height: 250px;
    width: auto;
}

#bg-info-kami-1 {
    clip-path: polygon(0 30%, 0% 100%, 100% 100%);
    background: orangered;
}

#bg-info-kami-2 {
    clip-path: polygon(0 15%, 0% 100%, 100% 100%);
    background: red;
}

#info-zona {
    height: 200px;
}  

#bg-info-zona-1 {
    border-radius: 0% 100% 100% 0% / 100% 100% 0% 0% ;
    width: 200px;
    height: 200px;
    background: yellowgreen;
}

#bg-info-zona-2 {
    border-radius: 0% 100% 0% 100% / 0% 0% 100% 100%  ;
    width: 150px;
    height: 150px;
    background: purple;
}
